{{ partial "header" . }}

<section class="banner animatedBackground" data-bg-img="/images/bg/05.png" style="padding-top: 150px; url(/images/bg/05.png);">
  <div class="h-100 bg-contain bg-pos-rb sm-bg-cover">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 col-md-12 ml-auto mr-auto">
          <div class="section-title">
            <h6>Daftar Harga</h6>
            <h2 class="title">Jasa Pembuatan Website HostingTekno</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <div class="row">
              <div class="col-lg-4 col-md-12">
                <div class="price-table">
                  <div class="round-p-animation"></div>
                  <div class="price-header">
                    <h3 class="price-title">Starter</h3>
                  </div>
                  <img class="img-center my-4" src="/images/price/01.png" alt="">
                  <div class="price-value">
                    <h2>Rp 3.5 juta</h2>
                  </div>
                  <p><strong>Rp 2 juta/tahun untuk support</strong></p>
                  <div class="price-list">
                    <ul class="list-unstyled">
                      <li><i class="flaticon-tick"></i> 15 Analytics Compaign</li>
                      <li><i class="flaticon-tick"></i> Unlimited Site licenses</li>
                      <li><i class="flaticon-tick"></i> 1 Database</li>
                      <li><i class="flaticon-tick"></i> 10 Free Optimization</li>
                      <li><i class="flaticon-tick"></i> Html5 + Css3</li>
                      <li><i class="flaticon-tick"></i> 24/7 Customer Support</li>
                    </ul>
                  </div>
                  <a class="btn btn-theme mt-5" href="#"> <span>Get Started</span>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 md-mt-5">
                <div class="price-table">
                  <div class="round-p-animation"></div>
                  <div class="price-header">
                    <h3 class="price-title">Premium</h3>
                  </div>
                  <img class="img-center my-4" src="/images/price/01.png" alt="">
                  <div class="price-value">
                    <h2>Rp 6 juta</h2>
                  </div>
                  <p><strong>Rp 2 juta/tahun untuk support</strong></p>
                  <div class="price-list">
                    <ul class="list-unstyled">
                      <li><i class="flaticon-tick"></i> 15 Analytics Compaign</li>
                      <li><i class="flaticon-tick"></i> Unlimited Site licenses</li>
                      <li><i class="flaticon-tick"></i> 1 Database</li>
                      <li><i class="flaticon-tick"></i> 10 Free Optimization</li>
                      <li><i class="flaticon-tick"></i> Html5 + Css3</li>
                      <li><i class="flaticon-tick"></i> 24/7 Customer Support</li>
                    </ul>
                  </div>
                  <a class="btn btn-theme mt-5" href="#"> <span>Get Started</span>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 md-mt-5">
                <div class="price-table">
                  <div class="round-p-animation"></div>
                  <div class="price-header">
                    <h3 class="price-title">Professional</h3>
                  </div>
                  <img class="img-center my-4" src="/images/price/01.png" alt="">
                  <div class="price-value">
                    <h2>Rp 7.5 juta</h2>
                  </div>
                  <p><strong>Rp 2 juta/tahun untuk support</strong></p>
                  <div class="price-list">
                    <ul class="list-unstyled">
                      <li><i class="flaticon-tick"></i> 15 Analytics Compaign</li>
                      <li><i class="flaticon-tick"></i> Unlimited Site licenses</li>
                      <li><i class="flaticon-tick"></i> 1 Database</li>
                      <li><i class="flaticon-tick"></i> 10 Free Optimization</li>
                      <li><i class="flaticon-tick"></i> Html5 + Css3</li>
                      <li><i class="flaticon-tick"></i> 24/7 Customer Support</li>
                    </ul>
                  </div>
                  <a class="btn btn-theme mt-5" href="#"> <span>Get Started</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "footer" . }}