{{ partial "header" . }}

<div class="page-content">
  <section class="grey-bg pos-r text-center">
    <div class="pattern-3">
      <img class="img-fluid rotateme" src="images/pattern/03.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 ml-auto mr-auto">
          <div class="section-title">
            <h6>Service</h6>
            <h2 class="title">We’r Provided Best Digital Marketing Services!</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <img class="img-center" src="images/feature/04.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Digital Marketing</h5>
            </div>
            <div class="featured-desc">
              <p>Design must be functional, and futionality must translated into, and futionality must translated into.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 sm-mt-5">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <img class="img-center" src="images/feature/05.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Content marketing</h5>
            </div>
            <div class="featured-desc">
              <p>Design must be functional, and futionality must translated into, and futionality must translated into.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 md-mt-3">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <img class="img-center" src="images/feature/06.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Market analysis</h5>
            </div>
            <div class="featured-desc">
              <p>Design must be functional, and futionality must translated into, and futionality must translated into.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-3">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <img class="img-center" src="images/feature/07.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Email Marketing</h5>
            </div>
            <div class="featured-desc">
              <p>Design must be functional, and futionality must translated into, and futionality must translated into.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-3">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <img class="img-center" src="images/feature/08.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Link Building</h5>
            </div>
            <div class="featured-desc">
              <p>Design must be functional, and futionality must translated into, and futionality must translated into.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-3">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <img class="img-center" src="images/feature/09.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Quick Support</h5>
            </div>
            <div class="featured-desc">
              <p>Design must be functional, and futionality must translated into, and futionality must translated into.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ partial "footer" . }}