{{ partial "header" . }}

<div class="page-content-margin grey-bg">
  <section class="pos-r text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h3 class="title">Kenapa Memakai Jasa Pembuatan Website Kami?</h3>
          <p>Kami menggunakan <strong>static site generator!</strong> <br> Teknologi baru yang memiliki beberapa
            kelebihan
            dibandingkan dengan CMS seperti WordPress.</p>
          <p>
            Dengan static site generator, hasil akhir website akan berupa file HTML, CSS dan javascript, sehingga
            memiliki
            beberapa kelebihan, antara lain:
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <i class="ti-bolt" style="font-size: 48px;;"></i>
            </div>
            <div class="featured-title">
              <h5>Kecepatan Akses Yang Lebih Baik</h5>
            </div>
            <div class="featured-desc">
              <p>Karena setiap request dari pengunjung website anda akan langsung dilayani oleh server tanpa perlu
                PHP maupun akses database, hasilnya adalah website yang cepat diakses.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 sm-mt-5">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <i class="ti-bar-chart" style="font-size: 48px;;"></i>
            </div>
            <div class="featured-title">
              <h5>Kapasitas Pengunjung Yang Lebih Besar</h5>
            </div>
            <div class="featured-desc">
              <p>Karena tidak memberatkan server dengan bahasa pemrograman dan akses database, website anda akan
                memiliki kemampuan untuk menerima lebih banyak pengunjung</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 md-mt-3">
          <div class="featured-item text-center">
            <div class="featured-icon">
              <i class="ti-lock" style="font-size: 48px;"></i>
            </div>
            <div class="featured-title">
              <h5>Sangat Aman Dari Serangan Hacker</h5>
            </div>
            <div class="featured-desc">
              <p>Karena file website anda hanya berupa file HTML, CSS dan javascript, tentu saja website anda tidak bisa
                disusupi oleh hacker seperti pada halaman admin website WordPress. (*)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12" style="margin: 15px 0;">
          <p><small>* Hal ini berlaku diluar keamanan pada server hosting.</small></p> 
        </div>  
      </div>
    </div>
  </section>
</div>

{{ partial "footer" . }}