<!--footer start-->

<footer class="footer white-bg pos-r o-hidden bg-contain" data-bg-img="{{ .Site.BaseURL }}/images/pattern/01.png">
    <div class="round-p-animation"></div>
    <div class="primary-footer">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ht-theme-info bg-contain bg-pos-r h-100 dark-bg text-white"
                        data-bg-img="{{ .Site.BaseURL }}/images/bg/02.png">
                        <div class="footer-logo">
                            <a href="{{ .Site.BaseURL }}">
                                <img class="img-center" src="{{ .Site.BaseURL }}/images/hosting-tekno-logo-6-alt1.png" alt="">
                            </a>
                        </div>
                        <p class="mb-3">
                            HostingTekno adalah jasa pembuatan website company profile, website portfolio, website bisnis 
                            dan website perusahaan. Jasa web yang kami tawarkan mengedepankan kualitas, kecepatan dan keamanan.
                            Kami menggunakan static site generator, sehingga website anda dapat ditampilkan dengan sangat cepat
                            dan tidak dapat di-hack. 
                        </p> 
                        <div class="social-icons social-border circle social-hover mt-5">
                            <h4 class="title">Follow Us</h4>
                            <ul class="list-inline">
                                <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                                <li class="social-linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li class="social-skype"><a href="#"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 py-8 md-px-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 footer-list">
                            <h4 class="title">Useful Links</h4>
                            <div class="row">
                                <div class="col-sm-5">
                                    <ul class="list-unstyled">
                                        <li><a href="about-us.html">About Us</a>
                                        </li>
                                        <li><a href="service.html">Our Service</a>
                                        </li>
                                        <li><a href="case-studies-grid-3.html">Case Studies</a>
                                        </li>
                                        <li><a href="project-grid-3.html">Project</a>
                                        </li>
                                        <li><a href="faq.html">Faq</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-7">
                                    <ul class="list-unstyled">
                                        <li><a href="team.html">Our Team</a>
                                        </li>
                                        <li><a href="blog-grid-3.html">Blog</a>
                                        </li>
                                        <li><a href="privacy-policy.html">Privacy Policy</a>
                                        </li>
                                        <li><a href="terms-and-conditions.html">Terms & Condition</a>
                                        </li>
                                        <li><a href="contact.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 sm-mt-5">
                            <h4 class="title">Contact us</h4>
                            <ul class="media-icon list-unstyled">
                                <li>
                                    <p class="mb-0">Jl. Mirah Raya No. 2. Tangerang Selatan. Banten</p>
                                </li>
                                <li><a href="mailto:themeht23@gmail.com">info@hostingtekno.com</a>
                                </li>
                                <li><a href="tel:+6283873544537">+62-838-7354-4537</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-10 col-md-12 mr-auto">
                            <div
                                class="align-items-center white-bg box-shadow px-3 py-3 radius d-md-flex justify-content-between">
                                <h4 class="mb-0">NewsLetter</h4>
                                <div class="subscribe-form sm-mt-2">
                                    <form id="mc-form" class="group">
                                        <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                                            placeholder="Email Address" required="">
                                        <input class="btn btn-theme" type="submit" name="subscribe" value="Subscribe">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="secondary-footer">
        <div class="container">
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-md-6"> <span>Copyright 2020 | All Rights Reserved</span>
                    </div>
                    <div class="col-md-6 text-md-right sm-mt-2"> <span>HostingTekno - Jasa Pembuatan Website</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--footer end-->


</div>

<!-- page wrapper end -->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-upload"></i></a></div>

<!--back-to-top end-->


<!-- inject js start -->

<!--== jquery -->
<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>

<!--== popper -->
<script src="{{ .Site.BaseURL }}/js/popper.min.js"></script>

<!--== bootstrap -->
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>

<!--== appear -->
<script src="{{ .Site.BaseURL }}/js/jquery.appear.js"></script>

<!--== modernizr -->
<script src="{{ .Site.BaseURL }}/js/modernizr.js"></script>

<!--== magnific-popup -->
<script src="{{ .Site.BaseURL }}/js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!--== owl-carousel -->
<script src="{{ .Site.BaseURL }}/js/owl-carousel/owl.carousel.min.js"></script>

<!--== counter -->
<script src="{{ .Site.BaseURL }}/js/counter/counter.js"></script>

<!--== countdown -->
<script src="{{ .Site.BaseURL }}/js/countdown/jquery.countdown.min.js"></script>

<!--== isotope -->
<script src="{{ .Site.BaseURL }}/js/isotope/isotope.pkgd.min.js"></script>

<!--== mouse-parallax -->
<script src="{{ .Site.BaseURL }}/js/mouse-parallax/tweenmax.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/mouse-parallax/jquery-parallax.js"></script>

<!--== contact-form -->
<script src="{{ .Site.BaseURL }}/js/contact-form/contact-form.js"></script>

<!--== wow -->
<script src="{{ .Site.BaseURL }}/js/wow.min.js"></script>

<!--== theme-script -->
<script src="{{ .Site.BaseURL }}/js/theme-script.js"></script>

<!-- inject js end -->

</body>

</html>