{{ partial "header" . }}

<section class="fullscreen-banner p-0 banner o-hidden"
  data-bg-img="{{ .Site.BaseURL }}/images/pattern/bg-wave-blue-2.jpg"
  style="background-image: url('{{ .Site.BaseURL }}/images/pattern/bg-wave-blue-2.jpg');">
  <div class="align-center" style="padding-top: 100px;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-12 order-lg-12">
          <div class="mouse-parallax" style="transform: matrix(1, 0, 0, 1, -20.9, 7.3);">
            <div class="bnr-img1 animated fadeInRight delay-4 duration-4">
              <img class="img-center rotateme" src="{{ .Site.BaseURL }}/images/banner/06.png" alt="">
            </div>
            <img class="img-center bnr-img2 animated zoomIn delay-5 duration-4"
              src="{{ .Site.BaseURL }}/images/banner/05.png" alt="">
          </div>
        </div>
        <div class="col-lg-7 col-md-12 order-lg-1 md-mt-5">
          <!-- <h1 class="mb-4 animated bounceInLeft delay-2 duration-4">Lagi Cari <span class="font-w-5">Jasa Pembuatan
              Website</span> Untuk Bisnis Anda?</h1> -->
          <h1 class="mb-4 animated bounceInLeft delay-2 duration-4">Pengen Buat <span class="font-w-5">Website Keren,
              Kencang dan Anti-Hack</span> Untuk Bisnis Anda?</h1>
          <p class="lead animated fadeInUp delay-3 duration-4">
            Pake jasa pembuatan website dari HostingTekno aja! 
            Kami siap ngurusin pelbagai hal tentang website bisnis/company profile anda.</p>
          <div class="d-flex align-items-center animated fadeInUp delay-4 duration-5"> <a class="btn btn-theme"
              href="#"><span>Kenapa Pilih Kami?</span></a>
            <!-- <a class="play-btn popup-youtube ml-4 d-flex align-items-center"
              href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><span>Play Now</span><img
                class="img-fluid pulse radius-4" src="{{ .Site.BaseURL }}/images/play.png" alt=""></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "footer" . }}